.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232323;
  color: white;
}

.main {
  padding: 4rem 0;
  max-width: 1280px;
  width: 100%;
}

.grid {
  margin-top: 1rem;
}

.basesBlock {
  flex-basis: calc(100% / 3);
}

.notablesBlock {
  flex-basis: calc(100% * 2 / 3);
}

@media (max-width: 600px) {
  .mobileGrid {
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .notablesBlock {
    margin-top: 1rem;
  }

  .main {
    padding: 0;
  }
}
