.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232323;
  color: white;
}

.main {
  padding: 4rem 0;
  max-width: 1280px;
  width: 100%;
}

.grid {
  margin-top: 1rem;
}

.grid:empty {
  margin-top: 0;
}

.basesBlock {
  flex-basis: calc(100% / 3);
}

.notablesBlock {
  flex-basis: calc(100% * 2 / 3);
}

.searchInput {
  width: calc(100% - 0.25rem);
  min-height: 2.6rem;
  background-color: #343434;
  border: 1px solid transparent;
  border-radius: 0;
  color: #e9cf9f;
  padding-left: 1rem;
}

.searchInput:focus {
  outline-color: currentColor;
  outline-width: 1px;
  outline-style: solid;
}

@media (max-width: 600px) {
  .mobileGrid {
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
  }

  .notablesBlock {
    margin-top: 1rem;
  }

  .main {
    padding: 0;
  }
}
